@header-bg: #393d56;

#navbar-desktop {
    margin: 0 !important;
    position: relative;
    z-index: 1000;
    height: 70px;
    padding: 12px 12px 0;
    // background-color: @header-bg;
    #navbar-upper {
        #logo-link {
            display: block;
            img {
                max-height: 45px;
            }
        }

        #navbar-extras {
            position: relative;
            margin-left: auto;
            a {
                color: #fff;
                font-size: 12px;
                margin-right: 15px;
                white-space: nowrap;
                cursor: pointer;
            }
        }
    }

    #navbar-lower {
        display: block;
        padding: 0 15px;
        background-color: #000;
        height: 36px;

        .navbar-item-nochild, .dropdown-toggle-groupie {
            display: inline-block;
            color: #fff;
            text-decoration: none;
            padding: 0px 8px;
            line-height: 36px;
            font-size: 14px;
            margin-right: 10px;
            cursor: pointer;
            width: unset;
            &:hover {
                background-color: #333;
            }
            .fa-chevron-down {
                padding-left: 8px;
                display: inline-block;
            }
        }

        .fa-chevron-down {
            vertical-align: middle;
        }

        .dropdown {
            display: inline-block;
            a.navbar-item-nochild {
                margin-right: 0;
            }

            li {
                padding-bottom: 0;
            }
        }
    }
}

#navbar-mobile {
    height: 50px;
    // background-color: @header-bg;
    #logo-link-mobile {
        img {
            height: 34px;
        }
    }
    #mobile-menu {
        position: relative;

        /* Position and sizing of burger button */
        .bm-burger-button {
            position: absolute;
            width: 25px;
            height: 20px;
            right: 5px;
            top: -30px;
        }

        /* Color/shape of burger icon bars */
        .bm-burger-bars {
            background: #fff;
        }

        /* Color/shape of burger icon bars on hover*/
        .bm-burger-bars-hover {
            background: #828282;
        }

        /* Position and sizing of clickable cross button */
        .bm-cross-button {
            height: 24px;
            width: 24px;
            top: -2px !important;
        }

        /* Color/shape of close button cross */
        .bm-cross {
            background: #bdc3c7;
        }

        /*
        Sidebar wrapper styles
        Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
        */
        .bm-menu-wrap {
            position: fixed;
            height: 100%;
            min-width: 400px;
        }

        /* General sidebar styles */
        .bm-menu {
            // background: @header-bg;
            padding: 5px;
            font-size: 1.15em;
        }

        /* Morph shape necessary with bubble or elastic */
        .bm-morph-shape {
            fill: #373a47;
        }

        /* Wrapper for item list */
        .bm-item-list {
            color: #2e2e2e;
            padding: 0.8em;
        }

        /* Styling of overlay */
        .bm-overlay {
            background: rgba(0, 0, 0, 0.3);
        }

        .navbar-item-label {
            display: block;
            font-size: 18px;
            font-weight: normal;
            // color: #ccc;
            color: #000;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        a.navbar-item-child {
            font-size: 14px;
        }

        a.navbar-item-child,
        a.navbar-item-nochild,
        #navbar-extras a {
            color: #fff;
            display: inline-block;
            padding: 8px 12px;
            border-radius: 5px;
            margin: 0 10px 10px 0;
            text-align: center;
            background: #000;
        }

        .navbar-section, #navbar-extras {
            padding: 20px 0 10px 0;
            border-top: 1px solid #000;
        }
        
    }
    #navbar-extras {
        padding: 20px 0 10px 0;
        border-top: 1px solid #000;
        width: 160px;
        a {
            i {
                margin-right: 5px;
            }
        }
    }
}

#navbar-popper {
    position: relative;
    z-index: 100000;
    .navbar-item-child {
        min-width: 160px;
        margin: 0px 0 0;
        font-size: 14px;
        text-align: left;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 4px 4px;
        -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
        ul {
            list-style: none;
            padding: 5px 0;
            margin: 0;
            li {
                padding-bottom: 0;
                a {
                    display: block;
                    padding: 3px 20px;
                    clear: both;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #333;
                    white-space: nowrap;
                    &:hover,
                    &:focus {
                        color: #262626;
                        text-decoration: none;
                        background-color: #f5f5f5;
                    }
                }
            }
            li.divider {
                height: 1px;
                margin: 7px 0;
                overflow: hidden;
                background-color: #e5e5e5;
            }
        }
        p {
            padding: 0 20px;
            margin: 0;
        }
    }
}

#style-picker-all {
    vertical-align: middle;
    .style-picker-option {
        display: inline-block;
        height: 17px;
        width: 17px;
        overflow: hidden;
        margin-right: 2px;
        margin-left: 2px;
        border: 1px solid white;
        &:hover,
        &:focus,
        &.active {
            color: #262626;
            text-decoration: none;
            background-color: #f5f5f5;
            cursor: pointer;
            transform: scale(1.35);
            transition: .25s;
        }
        .style-picker-option-primary {
            height: 0;
            width: 0;
            border-right: 24px solid transparent;
            display: inline-block;
        }
        /* each option */
        &.asi-main {
            background-color: yellow;
            .style-picker-option-primary {
                border-top: 24px solid #393d56;
            }
        }
        &.asi-alt {
            background-color: #393d56;
            .style-picker-option-primary {
                border-top: 24px solid yellow;
            }
        }
        &.asi-csgo {
            background-color: orange;
            .style-picker-option-primary {
                border-top: 24px solid whitesmoke;
            }
        }
        &.asi-csgo-alt {
            background-color: whitesmoke;
            .style-picker-option-primary {
                border-top: 24px solid orange;
            }
        }
    }
}

#navbar-all {
    &.asi-main {
        background-color: yellow;
        #navbar-mobile {
            #mobile-menu {
                .bm-menu {
                    background: yellow;
                }
            }
        }
    }
    &.asi-alt {
        background-color: #393d56;
        #navbar-mobile {
            #mobile-menu {
                .bm-menu {
                    background: #393d56;
                }
            }
        }
    }
    &.asi-csgo {
        background-color: orange;
        #navbar-mobile {
            #mobile-menu {
                .bm-menu {
                    background: orange;
                }
            }
        }
    }
    &.asi-csgo-alt {
        background-color: whitesmoke;
        #navbar-mobile {
            #mobile-menu {
                .bm-menu {
                    background: whitesmoke;
                }
            }
        }
    }

}

#app-container {
    &.asi-main {
        background-color: #393d56;
    }
    &.asi-alt {
        background-color: yellow;
    }
    &.asi-csgo {
        background-color: whitesmoke;
    }
    &.asi-csgo-alt {
        background-color: orange;
    }
}