.clear5 {
    clear: both;
    height: 5px;
}
.clear10 {
    clear: both;
    height: 10px;
}
.clear20 {
    clear: both;
    height: 20px;
}

.notification_msgbox {
    z-index: 10;
    pointer-events: none;
    position: fixed;
    bottom: 5%;
    text-align: center;
    width: 100%;
    transition: opacity 600ms ease-in;
    font-weight: bold;
    div {
        pointer-events: all;
        background: white;
        padding: 15px;
        box-shadow: 4px 5px 20px #666;
        display: inline-block;
        border-radius: 5px;
        opacity: 0.9;
    }
}
.notification_msgbox.enter {
    opacity: 0.01;
}
.notification_msgbox.leave {
    display: none;
}


#drag-and-drop-container {
    /* for react-beautiful-dnd, draggables won't jump away from mouse */
    transform: none !important; 
    div[data-rbd-draggable-context-id], div[data-rbd-droppable-context-id] {
        margin: 2px !important;
        padding: 2px !important;
        
        /* set these when in react-modal */
        // top: auto !important;
        // left: auto !important;
    }
}