#navbar-desktop {    
    #navbar-upper {
        margin: 0;
        position: relative;
        z-index: 1000;
        height: 70px;
        padding: 12px 15px 0;
        background-color: #393d56;

        #logo-anchor {
            display: block;
            img {
                max-height: 45px;
            }
        }

        #navbar-extras {
            position: relative;
        }

    }

    #navbar-lower {
        display: block;
        padding: 0 15px;
        background-color: #000;
        height: 35px;

        #navbar-popper {
            position: relative;
            z-index: 100000;

            min-width: 160px;
            margin: 0px 0 0;
            font-size: 14px;
            text-align: left;
            background-color: #fff;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 0px 0px 4px 4px;
            -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
            box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
            ul {
                list-style: none;
                padding: 5px 0;
                margin: 0;
                li {
                    padding-bottom: 0;
                    a {
                        display: block;
                        padding: 3px 20px;
                        clear: both;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 1.42857143;
                        color: #333;
                        white-space: nowrap;
                        &:hover,
                        &:focus {
                            color: #262626;
                            text-decoration: none;
                            background-color: #f5f5f5;
                        }
                    }
                }
                li.divider {
                    height: 1px;
                    margin: 7px 0;
                    overflow: hidden;
                    background-color: #e5e5e5;
                }
            }
            p {
                padding: 0 20px;
                margin: 0;
            }
        }

        #navbar-item-nochild, .dropdown-toggle-groupie {
            display: inline-block;
            color: #fff;
            text-decoration: none;
            padding: 0px 8px;
            line-height: 36px;
            font-size: 14px;
            margin-right: 10px;
            cursor: pointer;
            &:hover {
                background-color: #333;
            }
            .fa-chevron-down {
                padding-left: 8px;
                display: inline-block;
            }
        }

        .fa-chevron-down {
            vertical-align: middle;
        }

        .dropdown {
            display: inline-block;
            a.navbar-item-nochild {
                margin-right: 0;
            }

            li {
                padding-bottom: 0;
            }
        }
    }
    
}

